body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.poppins-light {
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: normal;
  }
  

/* Logo row */
.logo-row {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    overflow: hidden;
    /* background-color: aquamarine; */
}
.logo {
    width: 300px;
    height: 80px;
    /* background-color: antiquewhite; */
    display: flex;
}
.logo-img {
    width: 85px;
    height: 85px;
    /* background-color: blue; */
}
.logo-img:hover, .logo-img img:hover {
    scale: 1;
}
.logo-img img {
    width:100%;
    height: 100%;
}
.logo-text {
    width: 70%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* background-color: blueviolet; */
}
.logo-text h1 {
  font-size: large;
  margin: 20px 0 0 0;
  color: rgb(14, 14, 194);
  float: left;
}
.logo-text p {
  font-size: medium;
  margin: 0;
  color: rgb(14, 14, 194);
  float: left;
}

/* logo-bar-side- */

.logo-bar-side {
    width: 400px;
    height: 50px;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    left: 500px;
    /* background-color: aqua; */
}
.logo-call {
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* background-color: azure; */
}
.call-icon {
    background-color: #007BFF;;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.call-text {
    /* padding: 2px; */
    margin-left: 3px;
}

/* ________________________________________________________________________________________________________________ */

/*------------------- navbar -------------------------*/

.navbar {
    font-family: Arial, sans-serif;
    background-color: #007BFF; /* Hospital blue color */
    overflow: hidden;
    padding: 10px 20px; /* Padding for space at the edges */
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: left; /* Aligns the main nav items to the left */
}

.nav-item {
    float: left;
}

.nav-item a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.nav-item a:hover {
    background-color: #0056b3; /* Darker shade on hover */
}

.patient-info {
    width: 180px;
    float: right; /* Aligns Login and Signup buttons to the right */
    /* background-color: aqua; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* gap: 2; */
    margin: 10px auto;
}
/* .patient-info i {
    font-size: large;
    color: white;
} */

#patient-logout-btn {
  /* font-size: large; */
  float: right;
  /* margin-left: 30px; */
}

#patient-icon {
    font-size: large;
    color: white; 
}
.patient-name {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: bold;
    text-decoration: none;
}
.patient-name:hover {
    color: rgb(218, 234, 248);
}
/* *********************************************************** */

/* Hamburger Menu Styles */
.menu-toggle {
  display: none; /* Hide checkbox */
}

.hamburger {
  display: none; /* Hide hamburger by default */
  flex-direction: column; /* Stack bars vertically */
  cursor: pointer; /* Pointer cursor on hover */
}

.bar {
  height: 3px;
  width: 25px;
  background-color: white;
  margin: 3px 0; /* Space between bars */
}

/* Responsive Styles */
@media (max-width: 768px) {
  .nav-list {
      display: none; /* Hide nav items by default */
      flex-direction: column; /* Stack items vertically */
      width: 100%; /* Full width for dropdown */
      background-color: #007BFF; /* Background color for dropdown */
      position: absolute; /* Positioning for dropdown */
      top: 60px; /* Below the navbar */
      left: 0; /* Align to left */
      z-index: 1; /* Sit on top of other content */
  }

  .nav-item {
      margin-left: 0; /* No left margin on small screens */
      text-align: center; /* Center align text */
      margin-bottom: 10px; /* Space between items in dropdown */
  }

  .hamburger {
      display: flex; /* Show hamburger on small screens */
      margin-left: auto; /* Align to right */
      z-index: 2; /* Sit above other content */
      float: right;
  }

  #menu-toggle:checked + .hamburger + .nav-list {
      display: flex; /* Show nav when checkbox is checked */
  }

  .auth-buttons {
      display: flex; /* Hide auth buttons in mobile view */
      z-index: 3;
  }

}

/* Header */

.header h1 {
  color: #007bff;
}
.header p {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* ----------------------------------------------------------------- */
.container {
    max-width: 1200px;
    margin: 30px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  }
  .search-bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .search-bar input {
    padding: 10px;
    width: 80%;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  .search-bar button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .search-bar button:hover {
    background-color: #0056b3;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  table,
  th,
  td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
  }
  th {
    /* background-color: #f2f2f2; */
    background-color: #007bff;
    color: white;
  }
  .button {
    padding: 8px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .button.cancel {
    background-color: #f44336;
  }
  .button:hover {
    opacity: 0.8;
  }
  .button.cancel:hover {
    opacity: 0.8;
  }
  .container h2 {
    text-align: center;
    color: #007bff;
  }

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
#update-doctor {
  /* display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #0056b3; */

  background-color: #cbe1f7;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#update-doc-container {
  background-color: rgba(255,255,255, 0.8);
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin: 10px 0 20px 0;
  width: 350px;
  text-align: center; 
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
#update-doc-container:hover {
  scale: 1.02;
  transition: 0.1s linear;
}

#update-doctor h2 {
  color: #007bff;
  margin-bottom: 15px;
}

#update-doc-container label {
  display: block;
  margin-left: 8px;
}

#update-doc-container input {
  width: 90%;
  padding: 10px; 
  margin-bottom: 15px;
}

#update-doc-container button {
  background-color: #007BFF; 
  color: white; 
  padding: 10px; 
  border: none; 
  border-radius: 5px;
}
#add-doc-btn {
    margin-left: 10px;
}
#search-doc-btn {
    margin-left: 10px;
}


h1, p {
  text-align: center;
}

.input-group {
  margin-bottom: 5px;
}

label {
  display: block;
  text-align: left;
  margin: 0 0 5px 3px;
}
input[type="int"],
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"] {
  width: 90%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}
#availableCheck {
  width: 97%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.login-button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  margin-top: 5px;
}

.login-button:hover {
  background-color: #0056b3;
}

.options {
  text-align: center;
}

.forgot-password,
.signup {
  color: #007bff;
  text-decoration: none;
}
.forgot-password {
  margin-top: -5px;
}

.forgot-password:hover,
.signup:hover {
  text-decoration: underline;
}

/* ------------------ FOOTER -------------------------------------- */

footer {
    width: 100%;
    background-color: #003366;
    color: white;
    padding: 55px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

  .footer-column {
    flex: 1;
    margin: 20px;
    min-width: 200px;
  }
  .footer-logo {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
  }
  .footer-logo img:hover {
    transition: 0.5s linear;
  }

  .footer-column h3 {
    font-size: 18px;
    margin-bottom: 20px;
    color: #f4d03f;
    position: relative;
  }

  .footer-column h3::after {
    content: "";
    display: block;
    width: 50px;
    height: 3px;
    background-color: #f4d03f;
    margin-top: 5px;
  }

  .footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .footer-column ul li {
    margin-bottom: 10px;
  }

  .footer-column ul li a {
    color: white;
    font-size: 16px;
    text-decoration: none;
    transition: color 0.3s ease;
  }

  .footer-column ul li a:hover {
    color: #f4d03f;
  }

  .footer-column p {
    font-size: 14px;
    line-height: 1.8;
  }

  .newsletter input[type="email"] {
    padding: 12px;
    border: none;
    border-radius: 4px;
    width: 75%;
    margin-right: 10px;
    font-size: 14px;
  }

  .newsletter button {
    padding: 12px 15px;
    background-color: #f4d03f;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
  }

  .newsletter button:hover {
    background-color: #e2b20e;
  }

  .newsletter {
    margin-top: 30px;
  }

  .footer-bottom {
    background-color: #003366;
    padding: 20px;
    text-align: center;
    color: #aaa;
    font-size: 14px;
    border-top: 1px solid #a09a9a;
  }

  .footer-bottom a {
    color: #f4d03f;
    text-decoration: none;
  }

  .footer-bottom a:hover {
    text-decoration: underline;
  }

  .footer-column img {
    width: 150px;
    margin-top: 20px;
  }

  i {
    font-size: 20px;
    color: white;
  }

  .popular-searches a,
  a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.2s ease;
  }

  .popular-searches a:hover {
    color: #f1cb33;
    text-decoration: underline;
  }

  img:hover,
  i:hover {
    scale: 1;
  }

  .popular-searches {
    margin-left: 60px;
    margin-right: 60px;
    font-size: 18px;
    font-weight: 500;
  }

